{% extends 'Home/common.html' %}
{% block content %}
<br>

<div class="row container-fluid" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="justify-content: center;align-items: center;">
        <form style="background-color: rgb(224, 224, 224); padding: 30px; border-radius: 30px;" method="POST"
            id="id_change_password_form">{% csrf_token %}
            <div class="mb-3">
                <h3><i class="bi bi-person-circle"></i>&nbsp;Change Password</h3>
                <hr>
            </div>

            <div class="mb-3" id="id_div_username">
                <label for="id_username" class="form-label"><strong>Username</strong></label>
                <input type="text" class="form-control" id="id_username" name="username" value="">
            </div>
            <div class="mb-3" id="id_div_password">
                <label for="id_old_password" class="form-label"><strong>Old Password</strong></label>
                <input type="password" class="form-control" id="id_old_password" name="old_password" value="">
            </div>
            <div class="mb-3" id="id_div_password">
                <label for="id_new_password" class="form-label"><strong>New Password</strong></label>
                <input type="password" class="form-control" id="id_new_password" name="new_password" value="">
            </div>

            <button type="button" class="btn btn-primary btn-sm" onclick="changePassword()">Change password</button>
            <button type="reset" class="btn btn-danger btn-sm">Reset</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="back()">Back</button>

            <br><br>
            <!-- <a href="#" class="nav-link text-primary">Want to change password?</a> -->

            <!-- <div class="mb-3" id="id_div_password">
                    <br>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="">Forgot password?</button>

                </div> -->
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>


<script>
    function changePassword() {
        var postData = new FormData();
        let token = localStorage.getItem("token");
        postData.append('username', $("#id_username").val().trim());
        postData.append('old_password', $("#id_old_password").val().trim());
        postData.append('new_password', $("#id_new_password").val().trim());

        axios({
            method: "post",
            url: "http://192.168.1.249:7001/change_password/",
            data: postData,
            headers: { "Content-Type": "application/json", 'X-CSRFToken': '{{ csrf_token }}', Authorization: `Bearer ${token}`, },
        }).then(function (response) {
            if (response.data && response.data.code == 1) {
                swal("Successful!", response.data.msg, "success")
                .then((value) => {
                    window.location.reload();
                });
            }
            else if (response.data.code == 0) {
                swal("Oops!", response.data.msg, "error")
            }
        })

    }

</script>

{% endblock %}